In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
dataset = pd.read_csv('spam_ham_dataset.csv')

In [3]:
dataset.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [4]:
#Dropunwanted columns
dataset = dataset.drop(['label_num'], axis=1)

#Drop unnamed columns
unnamed_cols  = dataset.columns.str.contains('Unnamed')
dataset = dataset.drop(dataset[dataset.columns[unnamed_cols]], axis=1)

In [5]:
dataset.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [ ]:
dataset.shape

In [6]:
dataset.isna().any()

label    False
text     False
dtype: bool

In [7]:
#Convert "ham" to 0 and "spam" to 1
dataset['label'] = dataset.label.map({'ham':0, 'spam':1})
dataset.head()

   label                                               text
0      0  Subject: enron methanol ; meter # : 988291\r\n...
1      0  Subject: hpl nom for january 9 , 2001\r\n( see...
2      0  Subject: neon retreat\r\nho ho ho , we ' re ar...
3      1  Subject: photoshop , windows , office . cheap ...
4      0  Subject: re : indian springs\r\nthis deal is t...

In [8]:
#Remove duplicate columns
dataset.drop_duplicates(inplace =True)

In [9]:
dataset.shape

(4993, 2)

In [16]:
import nltk
from nltk.corpus import stopwords
import string

#Download stopword pacckage
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\User\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [18]:
#remove stopwords and punctuations
def process_text(text):
    nopunc = [char for char in text if char not in string.punctuation]
    nopunc = ''.join(nopunc)

    cleanwords = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    return cleanwords

In [19]:
#list of tokens
dataset['text'].head().apply(process_text)

0    [Subject, enron, methanol, meter, 988291, foll...
1    [Subject, hpl, nom, january, 9, 2001, see, att...
2    [Subject, neon, retreat, ho, ho, ho, around, w...
3    [Subject, photoshop, windows, office, cheap, m...
4    [Subject, indian, springs, deal, book, teco, p...
Name: text, dtype: object

In [ ]:
#convert text to matrix of tokens
from sklearn.feature_extraction.text import CountVectorizer
text_bow = CountVectorizer(analyzer = process_text).fit_transform(dataset['text'])

In [ ]:
#split data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
X_train, y_train, X_test, y_test = train_test_split(text_bow, dataset['spam'], test_size=0.20, random_state =1)

In [ ]:
#Get shapes oftext_bow
text_bow.shape

In [ ]:
#Create and train Naive Bayes Classifier
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNM().fit(X_train,y_train)

In [ ]:
#print predictions
print(classifier.predict(X_train))

#print actual values
print(y_train.values)

In [ ]:
#evaluate the model on training data set
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score